.container {
    width: 435px;
    height: 400px;
    left: 63px;
    top: 177.2px;
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.status {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    
    color: #20CE6E;
}

.channel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    
    color: #252525;
    
}

.sound-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.sound-rectangle {
    width: 100%;
    height: 138px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;


    background: rgba(231, 231, 231, 0.6);
    border-radius: 10px;
}
.volume-bar {
    width: 100px;
    height: 7px;
    display: flex;
    
    border-radius: 10px;
    background: rgba(32, 206, 110, 0.5);
    /* align-self: center; */
    
}
.volume-bar-inner {
    
    height: 100%;
    background-color: #20CE6E;
    border-radius: 10px;
    overflow: hidden;
}

.volume-config {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.test{
    display: flex;
    width: 169px;
    justify-content: space-evenly;
    align-items: center;
}

.mode-config {
    
    display: flex;
    position: absolute;
    flex-direction: column;
    left: 15px;
    width: 73px;
    height: 101px;
    
    align-items: center;
    justify-content: center;
    
    
}

.text-config{
    display: flex;
    width: 109px;
    height: 31px;


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: #858585;
}

.data-config {
    display: flex;
    position: absolute;
    top: 199px;
    right: 16px;
    width: 23px;
    height: 25px;
    
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    
}
.ptm-button {
        
}

.warning-section {
    display: flex;
    justify-content: space-evenly;
    width: 80px;
    height: 36px;
    top: 10px;
}



@media screen and (max-width: 800px) {
    .handset-config {
        display:flex;
        position: absolute;
        justify-content: space-evenly;
        
        width: 121px;
        height: 13.03px;
        left: 119px;
        top: 211px;
    }
    .handset-config img {
        width: 13px;
        height: 13.03px;
    }
    .handset-config p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 11.72px;
        text-align: center;
        color: #20CE6E;
        margin: 0;
    }
    .mode-config {
    
        display: flex;
        position: absolute;
        flex-direction: column;
        top: 5px;
        /* top: 122px;
        left: 16px; */
        
        /* width: 73px;
        height: 101px;
        background: #FBFBFB;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        
        align-items: center;
        justify-content: center;
        border-radius: 10%; */
        
    }
    .ptm-button {
        display: flex;
        flex-direction: column;
        width: 73px;
        height: 101px;
        background: #FBFBFB;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        
        align-items: center;
        justify-content: center;
        border-radius: 10%;
        border:none;
        padding: 0%;
        }
    
    .sound-section {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
        
    }
    .container {
        
        width: 358px;
        height: 317px;
        
    }
    .sound-rectangle {
        width: 358.09px;
        height: 80px;
        z-index: 200;
        position: absolute;
        bottom: 10px;
    }
    .icon-svg {
        width: 112px;
        height: 98px;
        margin-bottom: 149px;
    }
    .channel {
        margin-bottom: 0px; 
    }
    .status {
        margin-top: 0;
    }
}
    
