.square {
    height: 100%;
    width: 50px;
    background: #FFFFFF;
box-shadow: 0px 2.37874px 2.37874px rgba(0, 0, 0, 0.25);
    
    display: flex;
    justify-content: center;
    align-items: center;
    border: none
}
.square:hover{
    cursor: pointer;
}
.square:active{
    background: #20CE6E;
}

.title-sound {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 35px;
text-align: center;

color: #252525;
}

