.volume-container {
    width: 169.91px;
    height: 43px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.icon {
    width: 33.91px;
    align-self: center;
height: 29.7px;
}

.buttons-container {

    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    overflow: hidden;
    
}